{% load custom_filters %}
{% if productos %}
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Marca</th>
            <th>Categoría</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        {% for producto in productos %}
        <tr class="hover:bg-gray-50 transition text-sm">
            <td class="px-2 py-2">{{ producto.nombre }}</td>
            <td class="px-2 py-2">{{ producto.marca.nombre }}</td>
            <td class="px-2 py-2">{{ producto.categoria.nombre }}</td>
            <td class="px-2 py-2">${{ producto.precio }}</td>
            <td class="px-2 py-2">{{ producto.stock }}</td>
            <td class="px-2 py-2">
                <button class="agregar-carrito bg-blue-600 text-white text-xs px-3 py-1 rounded-lg hover:bg-blue-700 transition"
                        data-id="{{ producto.id }}"
                        data-nombre="{{ producto.nombre }}"
                        data-marca="{{ producto.marca.nombre }}"
                        data-categoria="{{ producto.categoria.nombre }}"
                        data-precio="{{ producto.precio|decimal_point }}"
                        data-stock="{{ producto.stock }}">
                        
                    Agregar
                </button>
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>
{% else %}
<p>No se encontraron productos.</p>
{% endif %}