{% extends 'barra_navegacion/barra.html' %}

{% block title %} Categorias {% endblock %}

{% block content %}
<div class="text-2xl font-semibold text-gray-800 mb-4">
  <h2>Agregar Nueva Categoria</h2>
</div>

<form method="POST">
  {% csrf_token %}
  
  <div class="max-w-md grid grid-cols-1 gap-4 mt-6">
    <label class="flex flex-col text-xs font-sans text-gray-500">
      <span class="mb-1 font-semibold tracking-wide">Nombre de la Marca</span>
      <input type="text" name="nombre" required 
             class="border border-gray-300 rounded-md py-1 px-3 text-sm font-sans text-gray-900 bg-gray-50 
                    focus:outline-none focus:ring-2 focus:ring-blue-500" />
    </label>

    <div class="flex mt-4">
      <button type="submit" 
              class="bg-blue-600 hover:bg-blue-700 text-white font-semibold py-1 px-6 rounded-md shadow-sm 
                     focus:outline-none focus:ring-2 focus:ring-blue-500">
        Guardar Marca
      </button>
    </div>
  </div>
</form>

<div class="mt-4 max-w-2xl mx-auto">
    <div class="bg-white rounded-xl shadow-md overflow-hidden">
        <table class="w-full text-sm text-left text-gray-700">
            <thead class="bg-gray-100 border-b">
                <tr class="text-xs text-gray-600 uppercase tracking-wide">
                    <th class="px-4 py-2">Nombre</th>
                    <th class="px-4 py-2">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for categoria in categorias %}
                <tr class="hover:bg-gray-50 border-b">
                    <td class="px-4 py-2">{{ categoria.nombre }}</td>
                    <td>
                    <button class="px-4 py-2" onclick="abrirModalEditarCategoria(
                      '{{categoria.id}}',
                      '{{categoria.nombre}}'
                    )">
                    Editar</button>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="2" class="px-4 py-2 text-center text-gray-500">No hay marcas registradas</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div id="modalEditar" class="fixed inset-0 bg-black bg-opacity-40 flex items-center justify-center hidden z-50">
          <div class="bg-white p-6 rounded-lg shadow-xl w-full max-w-md">
            <h2 class="text-lg font-semibold mb-4 text-gray-800">Editar Categoria</h2>
            <form action="{% url 'editar_categoria' %}" method="POST">
              {% csrf_token %}
              <div class="grid grid-cols-1 gap-4 mb-4">
              <input type="hidden" id="id_categoria" name="id_categoria">
              <input type="text" id="nombre_cat" name="nombre_cat" class="border p-2 rounded w-full">
              </div>
              <div>
                <button type="button" onclick="cerrarModalEditar()" class="bg-gray-300 text-gray-800 px-4 py-2 rounded hover:bg-gray-400">Cancelar</button>
                <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">Actualizar</button>
              </div>
            </form>
          </div>

        </div>
    </div>
</div>

{% endblock %}
